@import "../../style/index.scss";

.about-container{
    display: flex;
    flex-direction: column;
    margin-left: 209px;
    margin-right: 209px;
    margin-bottom: 38px;
    gap: 30px;

    @media (max-width : 375px) {
        margin: 20px;
        gap: 20px;
    }
}