@import "../../style/index.scss";

.star-container {
    display: flex;
    justify-content: end;
    padding-top: 22px;

    @media (max-width : 375px) {

        img {
            width: 18px;
            height: 18px;
        }
    }
}