@import "../../style/index.scss";

.tag-container{
    display: flex;
    gap : 15px;
    margin-top: 30px;
    margin-bottom: -10px;

    @media (max-width : 425px){
        gap: 10px;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .tag {
        font-size: 14px;
        display: flex;
        align-items : center;
        padding: 5px 22px 5px 22px;
        color: $white;
        background-color: $red;
        border-radius: 10px;
        font-weight: 700;
        text-align: center;
        line-height: 150%;

        @media (max-width : 425px){
            font-size: 10px;
        }
    }
}