@import '../../style/index.scss';

.error {
    display: flex;
    flex-direction: column;
    gap: 139px;
    margin-top: 139px;
    margin-bottom: 139px;
    align-items: center;

    h2 {
        color : $red;
        font-size: 210px;
        font-weight: 700;
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 36px;
        color: $red;
    }

    .return-link {
        color: $black;
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
    }
}


