@import "./index.scss";

.Header {
    @include center-space-between;
    margin: 45px 100px 50px 100px;

        .navbar {
            display: flex;
            gap: 57px;

            &__link {
                color:$black;
                text-decoration: none;
                font-size: 24px;
                font-weight: 500;
                font-family: Montserrat;
                position: relative;

                &--active {
                    text-decoration: underline;
                    text-underline-offset: 7px ;
                    
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px; 
                    width: 0;
                    height: 2px; 
                    background-color: $black;
                    transition: width 0.3s; 
                }

                &:hover::after {
                    width: 100%; 
                }
            }
        }
}


