@import "../../style/index.scss";

.banner-bar {
    height: 223px;
    margin: 0px 100px 43px 100px;
    position: relative;
    background: $black;
    border-radius: 25px;

    .imageBanner {
        @include banner-style;
        filter: brightness(70%);
        @media (max-width : 425px) {
            height: 111px;
            border-radius: 10px;
        }
    }

    .titleBanner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        @include text-shadow;
        @include h1;

        @media (max-width : 425px){
            font-size: 24px;
            text-align: left;
            padding-left: 20px;

            span {
                display: block;
            }
        }

        @media (max-width : 768px){
            text-align: left;
            padding-left: 50px;

            span {
                display: block;
            }
        }
    }

    @media (max-width : 425px) {
        margin: 27px 20px 22px 20px;
        height: 111px;
        border-radius: 10px;
    }
}

